*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f2f2f2;
    /* font-family: sans-serif; */
}

main {
    /* margin: auto; */
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.left {
    background-color: #e28525;
    padding: 25px;
    color: #ffedd4;
    border-radius: 10px 0px 0px 10px;
}

.center {
    background-color: #016972;
    padding: 25px;
    color: #d7eef3;
}

.right {
    background-color: #00403f;
    padding: 25px;
    color: #d0e0e5;
    border-radius: 0px 10px 10px 0px;
}

button {
    height: 35px;
    border: none;
    border-radius: 20px;
    width: 110px;
}

.btn-left {
    color: #e28525;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
.btn-center {
    color: #016972;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
.btn-right {
    color: #00403f;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

object {
    padding-bottom: 20px;
}

.center h2 {
    padding-bottom: 20px;
    font-family: 'Oswald';
    /* font-size: 22px; */
}
.left h2 {
    padding-bottom: 20px;
    font-family: 'Oswald';
    /* font-size: 22px; */
}
.right h2 {
    padding-bottom: 20px;
    font-family: 'Oswald';
    /* font-size: 20px; */
    /* font-weight: 20px; */
}

.center p {
    padding-bottom: 70px;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
.left p {
    padding-bottom: 70px;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
.right p {
    padding-bottom: 70px;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
